# Section 1-1 - Basic Neural Network - Titanic

In the previous section, we simply iterated through randomly-generated matrices and chose the best-performing one. We build on this approach by reducing loss in a systematic way via stochastic gradient descent. In particular, we'll be using TensorFlow, an open source library developed by Google, and Keras, a high-level wrapper on top of TensorFlow.

In [43]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from time import time

np.random.seed(1337)

titanic = pd.read_csv('train.csv')

titanic_test = pd.read_csv('test.csv')

In [44]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [45]:
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [46]:
titanic_test.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [47]:
# updating age data as median for each pclass
# FOR TRAIN
for pclass in range(1,4):
    selector = (titanic['Age'].isnull()) & (titanic['Pclass'] == pclass)
    good_age = (titanic['Age'].notnull()) & (titanic['Pclass'] == pclass)
    titanic[selector] = titanic[selector].fillna(titanic[good_age].median())

In [48]:
# updating age data as median for each pclass
# FOR TEST
for pclass in range(1,4):
    selector = (titanic_test['Age'].isnull()) & (titanic_test['Pclass'] == pclass)
    good_age = (titanic_test['Age'].notnull()) & (titanic_test['Pclass'] == pclass)
    titanic_test[selector] = titanic_test[selector].fillna(titanic_test[good_age].median())

In [49]:
# Replace all the occurences of male with the number 0
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0

In [50]:
# Replace all the occurences of female with the number 1
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1

In [51]:
# FOR TEST
# add missing fare data
selector = (titanic_test['Fare'].isnull())
pclass = titanic_test[selector]['Pclass']
print(pclass.values[0])
titanic_test[selector]['Fare'] = titanic_test[titanic_test["Pclass"] == pclass.values[0]]['Fare'].median()

3

/Users/tomasz/anaconda/envs/dlnd/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
from collections import Counter

# FOR TRAIN
for pclass in range(1,4):
    selector = (titanic['Embarked'].isnull()) & (titanic['Pclass'] == pclass)
    embark = (titanic['Embarked'].notnull()) & (titanic['Pclass'] == pclass)
    titanic[selector] = titanic[selector].fillna(Counter(titanic[embark]["Embarked"]).most_common()[0][1])

In [53]:
# FOR TEST
for pclass in range(1,4):
    selector = (titanic_test['Embarked'].isnull()) & (titanic_test['Pclass'] == pclass)
    embark = (titanic_test['Embarked'].notnull()) & (titanic_test['Pclass'] == pclass)
    titanic_test[selector] = titanic_test[selector].fillna(Counter(titanic_test[embark]["Embarked"]).most_common()[0][1])

In [54]:
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [55]:
# Generating a familysize column
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]
titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

# The .apply method generates a new series
titanic["NameLength"] = titanic["Name"].apply(lambda x: len(x))
titanic_test["NameLength"] = titanic_test["Name"].apply(lambda x: len(x))

In [56]:
import re

# A function to get the title from a name
def get_title(name):
    # Use a regular expression to search for a title  
    # Titles always consist of capital and lowercase letters, and end with a period
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it
    if title_search:
        return title_search.group(1)
    return ""

# Get all of the titles, and print how often each one occurs
titles = titanic["Name"].apply(get_title)
print(pd.value_counts(titles))

# Map each title to an integer  
# Some titles are very rare, so they're compressed into the same codes as other titles
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Dona": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}

test_titles = titanic_test["Name"].apply(get_title)

for k,v in title_mapping.items():
    titles[titles == k] = v
    test_titles[test_titles == k] = v

# Verify that we converted everything
print(pd.value_counts(titles))

# Add in the title column
titanic["Title"] = titles
titanic_test["Title"] = test_titles

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Jonkheer      1
Mme           1
Don           1
Capt          1
Ms            1
Lady          1
Countess      1
Sir           1
Name: Name, dtype: int64
1     517
2     183
3     125
4      40
5       7
6       6
7       5
10      3
8       3
9       2
Name: Name, dtype: int64

In [57]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,NameLength,Title
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,1,23,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,1,51,3
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,22,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,1,44,3
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0,24,1
5,6,0,3,"Moran, Mr. James",0,24.0,0,0,330877,8.4583,NaN,2,0,16,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,0,0,23,1
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,0,4,30,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,0,2,49,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,1,1,35,3
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,0,2,31,2
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,0,0,24,2
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,0,0,30,1
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,0,6,27,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,0,0,36,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,0,0,32,3
16,17,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,2,5,20,4
17,18,1,2,"Williams, Mr. Charles Eugene",0,29.0,0,0,244373,13.0000,NaN,0,0,28,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,0,1,55,3
19,20,1,3,"Masselmani, Mrs. Fatima",1,24.0,0,0,2649,7.2250,NaN,1,0,23,3
20,21,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,0,0,20,1
21,22,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,0,0,21,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,2,0,27,2
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,0,0,28,1
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,0,4,29,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,0,6,57,3
26,27,0,3,"Emir, Mr. Farred Chehab",0,24.0,0,0,2631,7.2250,NaN,1,0,23,1
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,0,5,30,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,24.0,0,0,330959,7.8792,NaN,2,0,29,2
29,30,0,3,"Todoroff, Mr. Lalio",0,24.0,0,0,349216,7.8958,NaN,0,0,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,0,1,27,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,0,0,51,3
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,24.0,8,2,CA. 2343,69.5500,NaN,0,10,33,2
864,865,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,0,0,22,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,0,0,24,3
866,867,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,1,1,28,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,0,0,36,1
868,869,0,3,"van Melkebeke, Mr. Philemon",0,24.0,0,0,345777,9.5000,NaN,0,0,27,1
869,870,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,0,2,31,4
870,871,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,0,0,17,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,0,2,48,3
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,0,0,24,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,0,0,27,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,1,1,37,3
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,1,0,32,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,0,0,29,1
877,878,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,0,0,20,1
878,879,0,3,"Laleff, Mr. Kristo",0,24.0,0,0,349217,7.8958,NaN,0,0,18,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,1,1,45,3
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,0,1,44,3
881,882,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,0,0,18,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,0,0,28,2
883,884,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,0,0,29,1
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,0,0,22,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,2,5,36,3
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,0,0,21,6
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,0,0,28,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,24.0,1,2,W./C. 6607,23.4500,NaN,0,3,40,2
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,1,0,21,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,2,0,19,1

In [58]:
import operator

# A dictionary mapping family name to ID
family_id_mapping = {}

# A function to get the ID for a particular row
def get_family_id(row):
    # Find the last name by splitting on a comma
    last_name = row["Name"].split(",")[0]
    # Create the family ID
    family_id = "{0}{1}".format(last_name, row["FamilySize"])
    # Look up the ID in the mapping
    if family_id not in family_id_mapping:
        if len(family_id_mapping) == 0:
            current_id = 1
        else:
            # Get the maximum ID from the mapping, and add 1 to it if we don't have an ID
            current_id = (max(family_id_mapping.items(), key=operator.itemgetter(1))[1] + 1)
        family_id_mapping[family_id] = current_id
    return family_id_mapping[family_id]

# Get the family IDs with the apply method
family_ids = titanic.apply(get_family_id, axis=1)
test_family_ids = titanic_test.apply(get_family_id, axis=1)

# There are a lot of family IDs, so we'll compress all of the families with less than three members into one code
family_ids[titanic["FamilySize"] < 3] = -1
test_family_ids[titanic_test["FamilySize"] < 3] = -1

# Print the count of each unique ID
print(pd.value_counts(family_ids))
print(pd.value_counts(test_family_ids))

titanic["FamilyId"] = family_ids
titanic_test["FamilyId"] = test_family_ids

-1      800
 14       8
 149      7
 63       6
 50       6
 59       6
 17       5
 384      4
 27       4
 25       4
 162      4
 8        4
 84       4
 340      4
 43       3
 269      3
 58       3
 633      2
 167      2
 280      2
 510      2
 90       2
 83       1
 625      1
 376      1
 449      1
 498      1
 588      1
dtype: int64
-1      384
 149      4
 25       3
 280      3
 27       2
 59       2
 633      2
 510      2
 167      2
 90       2
 162      1
 759      1
 449      1
 84       1
 269      1
 58       1
 43       1
 794      1
 918      1
 17       1
 14       1
 8        1
dtype: int64

In [59]:
scaler = StandardScaler()
features = ["Pclass",
            "Sex",
            "Age",
            "SibSp",
            "Parch",
            "Fare",
            "Embarked", 
            "FamilySize", 
            "NameLength",
            "Title",
            "FamilyId"]

train = titanic#titanic.iloc[:712, :]

print(titanic.head(5))
X_train = scaler.fit_transform(train[features].values)
y_train = train['Survived'].values
y_train_onehot = pd.get_dummies(train['Survived']).values

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin Embarked  FamilySize  NameLength Title  \
0         A/5 21171   7.2500   NaN        0           1          23     1
1          PC 17599  71.2833   C85        1           1          51     3
2  STON/O2. 3101282   7.9250   NaN        0           0          22     2
3            113803  53.1000  C123        0           1          44     3
4            373450   8.0500   NaN        0           0          24     1

   FamilyId
0        -1
1        -1
2        -1
3        -1
4        -1

/Users/tomasz/anaconda/envs/dlnd/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [60]:
#normalize
from sklearn.preprocessing import normalize

titanic = titanic.drop("Cabin", axis=1)
titanic = titanic.drop("Ticket", axis=1)
titanic = titanic.drop("Name", axis=1)

titanic_test = titanic_test.drop("Cabin", axis=1)
titanic_test = titanic_test.drop("Ticket", axis=1)
titanic_test = titanic_test.drop("Name", axis=1)

In [61]:
titanic_test.count()
titanic_test = titanic_test.fillna(titanic_test["Fare"].median())

In [62]:
titanic_test.count()

PassengerId    418
Pclass         418
Sex            418
Age            418
SibSp          418
Parch          418
Fare           418
Embarked       418
FamilySize     418
NameLength     418
Title          418
FamilyId       418
dtype: int64

In [63]:
# def normalize(df):
#     result = df.copy()
#     for feature_name in df.columns[1:]:
#         max_value = df[feature_name].max()
#         min_value = df[feature_name].min()
#         result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
#     return result

# titanic = normalize(titanic)
# titanic_test = normalize(titanic_test)

In [64]:
titanic

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,NameLength,Title,FamilyId
0,1,0,3,0,22.0,1,0,7.2500,0,1,23,1,-1
1,2,1,1,1,38.0,1,0,71.2833,1,1,51,3,-1
2,3,1,3,1,26.0,0,0,7.9250,0,0,22,2,-1
3,4,1,1,1,35.0,1,0,53.1000,0,1,44,3,-1
4,5,0,3,0,35.0,0,0,8.0500,0,0,24,1,-1
5,6,0,3,0,24.0,0,0,8.4583,2,0,16,1,-1
6,7,0,1,0,54.0,0,0,51.8625,0,0,23,1,-1
7,8,0,3,0,2.0,3,1,21.0750,0,4,30,4,8
8,9,1,3,1,27.0,0,2,11.1333,0,2,49,3,-1
9,10,1,2,1,14.0,1,0,30.0708,1,1,35,3,-1
10,11,1,3,1,4.0,1,1,16.7000,0,2,31,2,-1
11,12,1,1,1,58.0,0,0,26.5500,0,0,24,2,-1
12,13,0,3,0,20.0,0,0,8.0500,0,0,30,1,-1
13,14,0,3,0,39.0,1,5,31.2750,0,6,27,1,14
14,15,0,3,1,14.0,0,0,7.8542,0,0,36,2,-1
15,16,1,2,1,55.0,0,0,16.0000,0,0,32,3,-1
16,17,0,3,0,2.0,4,1,29.1250,2,5,20,4,17
17,18,1,2,0,29.0,0,0,13.0000,0,0,28,1,-1
18,19,0,3,1,31.0,1,0,18.0000,0,1,55,3,-1
19,20,1,3,1,24.0,0,0,7.2250,1,0,23,3,-1
20,21,0,2,0,35.0,0,0,26.0000,0,0,20,1,-1
21,22,1,2,0,34.0,0,0,13.0000,0,0,21,1,-1
22,23,1,3,1,15.0,0,0,8.0292,2,0,27,2,-1
23,24,1,1,0,28.0,0,0,35.5000,0,0,28,1,-1
24,25,0,3,1,8.0,3,1,21.0750,0,4,29,2,8
25,26,1,3,1,38.0,1,5,31.3875,0,6,57,3,25
26,27,0,3,0,24.0,0,0,7.2250,1,0,23,1,-1
27,28,0,1,0,19.0,3,2,263.0000,0,5,30,1,27
28,29,1,3,1,24.0,0,0,7.8792,2,0,29,2,-1
29,30,0,3,0,24.0,0,0,7.8958,0,0,19,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,0,21.0,1,0,11.5000,0,1,27,1,-1
862,863,1,1,1,48.0,0,0,25.9292,0,0,51,3,-1
863,864,0,3,1,24.0,8,2,69.5500,0,10,33,2,149
864,865,0,2,0,24.0,0,0,13.0000,0,0,22,1,-1
865,866,1,2,1,42.0,0,0,13.0000,0,0,24,3,-1
866,867,1,2,1,27.0,1,0,13.8583,1,1,28,2,-1
867,868,0,1,0,31.0,0,0,50.4958,0,0,36,1,-1
868,869,0,3,0,24.0,0,0,9.5000,0,0,27,1,-1
869,870,1,3,0,4.0,1,1,11.1333,0,2,31,4,-1
870,871,0,3,0,26.0,0,0,7.8958,0,0,17,1,-1
871,872,1,1,1,47.0,1,1,52.5542,0,2,48,3,-1
872,873,0,1,0,33.0,0,0,5.0000,0,0,24,1,-1
873,874,0,3,0,47.0,0,0,9.0000,0,0,27,1,-1
874,875,1,2,1,28.0,1,0,24.0000,1,1,37,3,-1
875,876,1,3,1,15.0,0,0,7.2250,1,0,32,2,-1
876,877,0,3,0,20.0,0,0,9.8458,0,0,29,1,-1
877,878,0,3,0,19.0,0,0,7.8958,0,0,20,1,-1
878,879,0,3,0,24.0,0,0,7.8958,0,0,18,1,-1
879,880,1,1,1,56.0,0,1,83.1583,1,1,45,3,-1
880,881,1,2,1,25.0,0,1,26.0000,0,1,44,3,-1
881,882,0,3,0,33.0,0,0,7.8958,0,0,18,1,-1
882,883,0,3,1,22.0,0,0,10.5167,0,0,28,2,-1
883,884,0,2,0,28.0,0,0,10.5000,0,0,29,1,-1
884,885,0,3,0,25.0,0,0,7.0500,0,0,22,1,-1
885,886,0,3,1,39.0,0,5,29.1250,2,5,36,3,17
886,887,0,2,0,27.0,0,0,13.0000,0,0,21,6,-1
887,888,1,1,1,19.0,0,0,30.0000,0,0,28,2,-1
888,889,0,3,1,24.0,1,2,23.4500,0,3,40,2,633
889,890,1,1,0,26.0,0,0,30.0000,1,0,21,1,-1
890,891,0,3,0,32.0,0,0,7.7500,2,0,19,1,-1

In [65]:
titanic_test.head(5)
#pd.get_dummies(titanic_test)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,NameLength,Title,FamilyId
0,892,3,0,34.5,0,0,7.8292,2,0,16,1,-1
1,893,3,1,47.0,1,0,7.0000,0,1,32,3,-1
2,894,2,0,62.0,0,0,9.6875,2,0,25,1,-1
3,895,3,0,27.0,0,0,8.6625,0,0,16,1,-1
4,896,3,1,22.0,1,1,12.2875,0,2,44,3,-1

In [66]:
df_test = titanic.iloc[712:, :]

X_test = scaler.transform(df_test[features].values)
y_test = df_test['Survived'].values

/Users/tomasz/anaconda/envs/dlnd/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

## Benchmark

In [67]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, verbose=3)
model = model.fit(X_train, train['Survived'].values)

y_prediction = model.predict(X_test)
print("\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

building tree 1 of 10
building tree 2 of 10
building tree 3 of 10
building tree 4 of 10
building tree 5 of 10
building tree 6 of 10
building tree 7 of 10
building tree 8 of 10
building tree 9 of 10
building tree 10 of 10

accuracy 0.988826815642

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

## 1-layer Neural Network

Instead of generating a linear stack of layers with Numpy, we'll be implementing our model using Keras. We initialize our model, add a layer that inputs vectors of length 4 and outputs vectors of length 2, and finally add a softmax layer. We configure the learning process in the compilation step by specifying the optimizer, loss function and performance metric.

Stochastic gradient descent acts by changing the weights gradually in the 'direction' that decreases the average loss. In other words, a particular weight would be increased if acts to decrease loss, or the weight decreased if it acts to increase loss. TensorFlow does the heavy-lifting by efficiently handling these numerical computations under the hood. A simple example of stochastic gradient descent is illustrated in the Appendix.

In [68]:
from keras.models import Sequential
from keras.layers import Dense, Activation

start = time()

model = Sequential()
model.add(Dense(input_dim=len(features), units=2))
model.add(Activation("softmax"))


model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.fit(X_train, y_train_onehot)

print('\ntime taken %s seconds' % str(time() - start))

Epoch 1/10
891/891 [==============================] - 0s - loss: 0.9302 - acc: 0.4613      
Epoch 2/10
891/891 [==============================] - 0s - loss: 0.7795 - acc: 0.5533     
Epoch 3/10
891/891 [==============================] - 0s - loss: 0.6823 - acc: 0.6386     
Epoch 4/10
891/891 [==============================] - 0s - loss: 0.6203 - acc: 0.7374     
Epoch 5/10
891/891 [==============================] - 0s - loss: 0.5801 - acc: 0.7598     
Epoch 6/10
891/891 [==============================] - 0s - loss: 0.5527 - acc: 0.7778     
Epoch 7/10
891/891 [==============================] - 0s - loss: 0.5332 - acc: 0.7800     
Epoch 8/10
891/891 [==============================] - 0s - loss: 0.5190 - acc: 0.7856     
Epoch 9/10
891/891 [==============================] - 0s - loss: 0.5081 - acc: 0.7845     
Epoch 10/10
891/891 [==============================] - 0s - loss: 0.4996 - acc: 0.7845     

time taken 2.089813709259033 seconds

In [69]:
y_prediction = model.predict_classes(X_test)
print("\n\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

 32/179 [====>.........................] - ETA: 1s

accuracy 0.793296089385

We notice that the loss reduces systematically as the model 'learns' from the data. The rate of loss reduction, however, seems to indicate that loss could be further reduced.

## 2-layer Neural Network

In [70]:
start = time()

model = Sequential()
model.add(Dense(input_dim=len(features), units=100))
model.add(Dense(units=2))
model.add(Activation("softmax"))

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.fit(X_train, y_train_onehot, epochs=10)

print('\ntime taken %s seconds' % str(time() - start))

Epoch 1/10
891/891 [==============================] - 0s - loss: 0.5980 - acc: 0.6790     
Epoch 2/10
891/891 [==============================] - 0s - loss: 0.5033 - acc: 0.7856     
Epoch 3/10
891/891 [==============================] - 0s - loss: 0.4728 - acc: 0.8047     
Epoch 4/10
891/891 [==============================] - 0s - loss: 0.4582 - acc: 0.8047     
Epoch 5/10
891/891 [==============================] - 0s - loss: 0.4488 - acc: 0.8070     
Epoch 6/10
891/891 [==============================] - 0s - loss: 0.4429 - acc: 0.8058     
Epoch 7/10
891/891 [==============================] - 0s - loss: 0.4397 - acc: 0.8081     
Epoch 8/10
891/891 [==============================] - 0s - loss: 0.4367 - acc: 0.8114     
Epoch 9/10
891/891 [==============================] - ETA: 0s - loss: 0.4465 - acc: 0.7937 - 0s - loss: 0.4350 - acc: 0.8081
Epoch 10/10
891/891 [==============================] - 0s - loss: 0.4338 - acc: 0.8092     

time taken 1.5181419849395752 seconds

In [71]:
y_prediction = model.predict_classes(X_test)
print("\n\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

 32/179 [====>.........................] - ETA: 1s

accuracy 0.826815642458

The loss reduction 'flattens out' more compared to the 1-layer example, and the accuracy improves to 81%.

## 3-layer Neural Network

In [72]:
start = time()

model = Sequential()
model.add(Dense(input_dim=len(features), units=100))
model.add(Dense(units=100))
model.add(Dense(units=2))
model.add(Activation("softmax"))

model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.fit(X_train, y_train_onehot, epochs=20)

print('\ntime taken %s seconds' % str(time() - start))

Epoch 1/20
891/891 [==============================] - 0s - loss: 0.5193 - acc: 0.7823     
Epoch 2/20
891/891 [==============================] - 0s - loss: 0.4541 - acc: 0.8025     
Epoch 3/20
891/891 [==============================] - 0s - loss: 0.4399 - acc: 0.8047     
Epoch 4/20
891/891 [==============================] - 0s - loss: 0.4349 - acc: 0.8025     
Epoch 5/20
891/891 [==============================] - 0s - loss: 0.4326 - acc: 0.8047     
Epoch 6/20
891/891 [==============================] - 0s - loss: 0.4309 - acc: 0.8058     
Epoch 7/20
891/891 [==============================] - 0s - loss: 0.4307 - acc: 0.8114     
Epoch 8/20
891/891 [==============================] - 0s - loss: 0.4302 - acc: 0.8126     
Epoch 9/20
891/891 [==============================] - 0s - loss: 0.4295 - acc: 0.8137     
Epoch 10/20
891/891 [==============================] - 0s - loss: 0.4298 - acc: 0.8114     
Epoch 11/20
891/891 [==============================] - 0s - loss: 0.4289 - acc: 0.8159     
Epoch 12/20
891/891 [==============================] - 0s - loss: 0.4296 - acc: 0.8114     
Epoch 13/20
891/891 [==============================] - 0s - loss: 0.4298 - acc: 0.8182     
Epoch 14/20
891/891 [==============================] - 0s - loss: 0.4290 - acc: 0.8171     
Epoch 15/20
891/891 [==============================] - 0s - loss: 0.4294 - acc: 0.8137     
Epoch 16/20
891/891 [==============================] - 0s - loss: 0.4289 - acc: 0.8137     
Epoch 17/20
891/891 [==============================] - 0s - loss: 0.4288 - acc: 0.8182     
Epoch 18/20
891/891 [==============================] - 0s - loss: 0.4295 - acc: 0.8182     
Epoch 19/20
891/891 [==============================] - 0s - loss: 0.4286 - acc: 0.8193     
Epoch 20/20
891/891 [==============================] - 0s - loss: 0.4282 - acc: 0.8103     

time taken 4.060379266738892 seconds

In [73]:
y_prediction = model.predict_classes(X_test)
print("\n\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

 32/179 [====>.........................] - ETA: 1s

accuracy 0.832402234637

# 5 layer model

In [74]:
start = time()

model = Sequential()
model.add(Dense(input_dim=len(features), units=512))
model.add(Dense(units=128))
model.add(Activation("sigmoid"))
model.add(Dense(units=32))
model.add(Dense(units=2))
model.add(Activation("softmax"))

model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

model.fit(X_train, y_train_onehot, epochs=20)

print('\ntime taken %s seconds' % str(time() - start))

Epoch 1/20
891/891 [==============================] - 0s - loss: 0.6334 - acc: 0.6431     
Epoch 2/20
891/891 [==============================] - 0s - loss: 0.5754 - acc: 0.7149     
Epoch 3/20
891/891 [==============================] - 0s - loss: 0.5460 - acc: 0.7396     
Epoch 4/20
891/891 [==============================] - 0s - loss: 0.5219 - acc: 0.7598     
Epoch 5/20
891/891 [==============================] - 0s - loss: 0.5012 - acc: 0.7789     
Epoch 6/20
891/891 [==============================] - 0s - loss: 0.4881 - acc: 0.7834     
Epoch 7/20
891/891 [==============================] - 0s - loss: 0.4747 - acc: 0.7868     
Epoch 8/20
891/891 [==============================] - 0s - loss: 0.4649 - acc: 0.7912     
Epoch 9/20
891/891 [==============================] - 0s - loss: 0.4591 - acc: 0.7946     
Epoch 10/20
891/891 [==============================] - 0s - loss: 0.4530 - acc: 0.8070     
Epoch 11/20
891/891 [==============================] - 0s - loss: 0.4494 - acc: 0.7969     
Epoch 12/20
891/891 [==============================] - 0s - loss: 0.4482 - acc: 0.8002     
Epoch 13/20
891/891 [==============================] - 0s - loss: 0.4434 - acc: 0.8036     
Epoch 14/20
891/891 [==============================] - 0s - loss: 0.4418 - acc: 0.8058     
Epoch 15/20
891/891 [==============================] - 0s - loss: 0.4375 - acc: 0.8081     
Epoch 16/20
891/891 [==============================] - 0s - loss: 0.4368 - acc: 0.8092     
Epoch 17/20
891/891 [==============================] - 0s - loss: 0.4355 - acc: 0.8081     
Epoch 18/20
891/891 [==============================] - 0s - loss: 0.4335 - acc: 0.8114     
Epoch 19/20
891/891 [==============================] - 0s - loss: 0.4361 - acc: 0.8058     
Epoch 20/20
891/891 [==============================] - 0s - loss: 0.4350 - acc: 0.8081     

time taken 4.80978798866272 seconds

In [75]:
y_prediction = model.predict_classes(X_test)
print("\n\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

 32/179 [====>.........................] - ETA: 1s

accuracy 0.821229050279

# LSTM MODEL

In [76]:
y_prediction = model.predict_classes(X_test)
print("\n\naccuracy", np.sum(y_prediction == y_test) / float(len(y_test)))

 32/179 [====>.........................] - ETA: 0s

accuracy 0.821229050279

In [77]:
X_test

array([[ -1.56610693e+00,  -7.37695132e-01,   1.43034315e+00, ...,
         -3.19650794e-01,  -6.21284528e-01,  -2.18080848e-01],
       [  8.27377244e-01,  -7.37695132e-01,  -5.01684984e-03, ...,
         -1.04049842e-01,  -6.21284528e-01,  -2.18080848e-01],
       [ -3.69364841e-01,  -7.37695132e-01,   1.73252420e+00, ...,
         -6.43052222e-01,  -6.21284528e-01,  -2.18080848e-01],
       ...,
       [  8.27377244e-01,   1.35557354e+00,  -3.82743164e-01, ...,
          1.40515682e+00,   1.63913365e-01,   8.85888367e+00],
       [ -1.56610693e+00,  -7.37695132e-01,  -2.31652639e-01, ...,
         -6.43052222e-01,  -6.21284528e-01,  -2.18080848e-01],
       [  8.27377244e-01,  -7.37695132e-01,   2.21618939e-01, ...,
         -8.58653174e-01,  -6.21284528e-01,  -2.18080848e-01]])

In [78]:
titanic_test[features]

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,NameLength,Title,FamilyId
0,3,0,34.5,0,0,7.8292,2,0,16,1,-1
1,3,1,47.0,1,0,7.0000,0,1,32,3,-1
2,2,0,62.0,0,0,9.6875,2,0,25,1,-1
3,3,0,27.0,0,0,8.6625,0,0,16,1,-1
4,3,1,22.0,1,1,12.2875,0,2,44,3,-1
5,3,0,14.0,0,0,9.2250,0,0,26,1,-1
6,3,1,30.0,0,0,7.6292,2,0,20,2,-1
7,2,0,26.0,1,1,29.0000,0,2,28,1,-1
8,3,1,18.0,0,0,7.2292,1,0,41,3,-1
9,3,0,21.0,2,0,24.1500,0,2,23,1,-1
10,3,0,24.0,0,0,7.8958,0,0,16,1,-1
11,1,0,46.0,0,0,26.0000,0,0,26,1,-1
12,1,1,23.0,1,0,82.2667,0,1,45,3,-1
13,2,0,63.0,1,0,26.0000,0,1,20,1,-1
14,1,1,47.0,1,0,61.1750,0,1,55,3,-1
15,2,1,24.0,1,0,27.7208,1,1,45,3,-1
16,2,0,35.0,0,0,12.3500,2,0,17,1,-1
17,3,0,21.0,0,0,7.2250,1,0,17,1,-1
18,3,1,27.0,1,0,7.9250,0,1,28,2,-1
19,3,1,45.0,0,0,7.2250,1,0,37,3,-1
20,1,0,55.0,1,0,59.4000,1,1,22,1,-1
21,3,0,9.0,0,1,3.1708,0,1,25,4,-1
22,1,1,42.0,0,0,31.6833,0,0,36,3,-1
23,1,0,21.0,0,1,61.3792,1,1,31,1,-1
24,1,1,48.0,1,3,262.3750,1,4,47,3,280
25,3,0,50.0,1,0,14.5000,0,1,23,1,-1
26,1,1,22.0,0,1,61.9792,1,1,28,2,-1
27,3,0,22.5,0,0,7.2250,1,0,17,1,-1
28,1,0,41.0,0,0,30.5000,0,0,23,1,-1
29,3,0,24.0,2,0,21.6792,1,2,17,1,-1
...,...,...,...,...,...,...,...,...,...,...,...
388,3,0,21.0,0,0,7.7500,2,0,20,1,-1
389,3,0,6.0,3,1,21.0750,0,4,27,4,8
390,1,0,23.0,0,0,93.5000,0,0,26,1,-1
391,1,1,51.0,0,1,39.4000,0,1,46,3,-1
392,3,0,13.0,0,2,20.2500,0,2,29,4,-1
393,2,0,47.0,0,0,10.5000,0,0,20,1,-1
394,3,0,29.0,3,1,22.0250,0,4,24,1,918
395,1,1,18.0,1,0,60.0000,0,1,46,3,-1
396,3,0,24.0,0,0,7.2500,2,0,20,1,-1
397,1,1,48.0,1,1,79.2000,1,2,63,3,-1
398,3,0,22.0,0,0,7.7750,0,0,30,1,-1
399,3,0,31.0,0,0,7.7333,2,0,24,1,-1
400,1,1,30.0,0,0,164.8667,0,0,23,2,-1
401,2,0,38.0,1,0,21.0000,0,1,15,1,-1
402,1,1,22.0,0,1,59.4000,1,1,30,2,-1
403,1,0,17.0,0,0,47.1000,0,0,22,1,-1
404,1,0,43.0,1,0,27.7208,1,1,28,1,-1
405,2,0,20.0,0,0,13.8625,1,0,44,1,-1
406,2,0,23.0,1,0,10.5000,0,1,25,1,-1
407,1,0,50.0,1,1,211.5000,1,2,26,1,-1
408,3,1,24.0,0,0,7.7208,2,0,31,2,-1
409,3,1,3.0,1,1,13.7750,0,2,25,2,-1
410,3,1,24.0,0,0,7.7500,2,0,22,2,-1
411,1,1,37.0,1,0,90.0000,2,1,47,3,-1
412,3,1,28.0,0,0,7.7750,0,0,30,2,-1
413,3,0,24.0,0,0,8.0500,0,0,18,1,-1
414,1,1,39.0,0,0,108.9000,1,0,28,9,-1
415,3,0,38.5,0,0,7.2500,0,0,28,1,-1
416,3,0,24.0,0,0,8.0500,0,0,19,1,-1
417,3,0,24.0,1,1,22.3583,1,2,24,4,-1

In [79]:
titanic_test = titanic_test.fillna(0)

In [80]:
titanic_test.head(5)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,NameLength,Title,FamilyId
0,892,3,0,34.5,0,0,7.8292,2,0,16,1,-1
1,893,3,1,47.0,1,0,7.0000,0,1,32,3,-1
2,894,2,0,62.0,0,0,9.6875,2,0,25,1,-1
3,895,3,0,27.0,0,0,8.6625,0,0,16,1,-1
4,896,3,1,22.0,1,1,12.2875,0,2,44,3,-1

In [81]:
X_test = scaler.transform(titanic_test[features].values)

In [82]:
titanic_test[features]

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,NameLength,Title,FamilyId
0,3,0,34.5,0,0,7.8292,2,0,16,1,-1
1,3,1,47.0,1,0,7.0000,0,1,32,3,-1
2,2,0,62.0,0,0,9.6875,2,0,25,1,-1
3,3,0,27.0,0,0,8.6625,0,0,16,1,-1
4,3,1,22.0,1,1,12.2875,0,2,44,3,-1
5,3,0,14.0,0,0,9.2250,0,0,26,1,-1
6,3,1,30.0,0,0,7.6292,2,0,20,2,-1
7,2,0,26.0,1,1,29.0000,0,2,28,1,-1
8,3,1,18.0,0,0,7.2292,1,0,41,3,-1
9,3,0,21.0,2,0,24.1500,0,2,23,1,-1
10,3,0,24.0,0,0,7.8958,0,0,16,1,-1
11,1,0,46.0,0,0,26.0000,0,0,26,1,-1
12,1,1,23.0,1,0,82.2667,0,1,45,3,-1
13,2,0,63.0,1,0,26.0000,0,1,20,1,-1
14,1,1,47.0,1,0,61.1750,0,1,55,3,-1
15,2,1,24.0,1,0,27.7208,1,1,45,3,-1
16,2,0,35.0,0,0,12.3500,2,0,17,1,-1
17,3,0,21.0,0,0,7.2250,1,0,17,1,-1
18,3,1,27.0,1,0,7.9250,0,1,28,2,-1
19,3,1,45.0,0,0,7.2250,1,0,37,3,-1
20,1,0,55.0,1,0,59.4000,1,1,22,1,-1
21,3,0,9.0,0,1,3.1708,0,1,25,4,-1
22,1,1,42.0,0,0,31.6833,0,0,36,3,-1
23,1,0,21.0,0,1,61.3792,1,1,31,1,-1
24,1,1,48.0,1,3,262.3750,1,4,47,3,280
25,3,0,50.0,1,0,14.5000,0,1,23,1,-1
26,1,1,22.0,0,1,61.9792,1,1,28,2,-1
27,3,0,22.5,0,0,7.2250,1,0,17,1,-1
28,1,0,41.0,0,0,30.5000,0,0,23,1,-1
29,3,0,24.0,2,0,21.6792,1,2,17,1,-1
...,...,...,...,...,...,...,...,...,...,...,...
388,3,0,21.0,0,0,7.7500,2,0,20,1,-1
389,3,0,6.0,3,1,21.0750,0,4,27,4,8
390,1,0,23.0,0,0,93.5000,0,0,26,1,-1
391,1,1,51.0,0,1,39.4000,0,1,46,3,-1
392,3,0,13.0,0,2,20.2500,0,2,29,4,-1
393,2,0,47.0,0,0,10.5000,0,0,20,1,-1
394,3,0,29.0,3,1,22.0250,0,4,24,1,918
395,1,1,18.0,1,0,60.0000,0,1,46,3,-1
396,3,0,24.0,0,0,7.2500,2,0,20,1,-1
397,1,1,48.0,1,1,79.2000,1,2,63,3,-1
398,3,0,22.0,0,0,7.7750,0,0,30,1,-1
399,3,0,31.0,0,0,7.7333,2,0,24,1,-1
400,1,1,30.0,0,0,164.8667,0,0,23,2,-1
401,2,0,38.0,1,0,21.0000,0,1,15,1,-1
402,1,1,22.0,0,1,59.4000,1,1,30,2,-1
403,1,0,17.0,0,0,47.1000,0,0,22,1,-1
404,1,0,43.0,1,0,27.7208,1,1,28,1,-1
405,2,0,20.0,0,0,13.8625,1,0,44,1,-1
406,2,0,23.0,1,0,10.5000,0,1,25,1,-1
407,1,0,50.0,1,1,211.5000,1,2,26,1,-1
408,3,1,24.0,0,0,7.7208,2,0,31,2,-1
409,3,1,3.0,1,1,13.7750,0,2,25,2,-1
410,3,1,24.0,0,0,7.7500,2,0,22,2,-1
411,1,1,37.0,1,0,90.0000,2,1,47,3,-1
412,3,1,28.0,0,0,7.7750,0,0,30,2,-1
413,3,0,24.0,0,0,8.0500,0,0,18,1,-1
414,1,1,39.0,0,0,108.9000,1,0,28,9,-1
415,3,0,38.5,0,0,7.2500,0,0,28,1,-1
416,3,0,24.0,0,0,8.0500,0,0,19,1,-1
417,3,0,24.0,1,1,22.3583,1,2,24,4,-1

In [83]:
predictions = model.predict_classes(X_test.astype(float))#[:,1]
    
predictions[predictions <= .5] = 0
predictions[predictions > .5] = 1
predictions = predictions.astype(int)
submission = pd.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

320/418 [=====================>........] - ETA: 0s

In [84]:
predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [85]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [86]:
submission.to_csv("gender_submission.csv", index=False)

While we're able to reduce loss on the training set a little further, the best performance obtained is merely comparable to our benchmark. Since the dataset is small, there isn't as much for the model to 'learn' from (or for that matter, predict on). We'll apply techniques developed so far on a much larger dataset in the next section.